h1 {
    color: rgb(0, 255, 217);
}
* {
    color: black;
}

img {
    border-radius: 50%;
    border: solid 1pt black;
}

#active {
    font-weight: bold;
    color: green;
}

li:first-child {
    text-decoration: underline;
}

.list {
    text-decoration: line-through;
}

